.transbox {
  margin: 30px;
  background-color: rgba(0,0,0,0.4);
  border: 1px solid black;
 /* opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */*/
  top: 5px;
  left: 75px;
  height: 700px;
  width: 1200PX;
  position: absolute;
}

form {
	font-weight: bold;
}

div.nav-wrapper {
	color: #80deea;

}

div.timer {
	width: 250px; 
	height: 100px; 
	top: 75px; 
	right: -5px; 
	border: 5px solid white;
	position: absolute;
}

h2 {
	top: -5px;
	right: 20px;
	position: absolute;
}

div.testpage {
	width:850px; 
	height:1000px; 
	background-color:white;
	margin: 0 auto;
}
